@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 230 25% 14%;
    --foreground: 0 0% 100%;
 
    --card: 230 25% 14%;
    --card-foreground: 0 0% 100%;
 
    --popover: 230 25% 14%;
    --popover-foreground: 0 0% 100%;
 
    --primary: 45 100% 50%;
    --primary-foreground: 0 0% 0%;
 
    --secondary: 342 50% 32%;
    --secondary-foreground: 0 0% 100%;
 
    --muted: 230 25% 24%;
    --muted-foreground: 0 0% 80%;
 
    --accent: 342 50% 32%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
 
    --border: 230 25% 24%;
    --input: 230 25% 24%;
    --ring: 45 100% 50%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}